- m_d = []
- m_d = @bulletin.meteo_data.split(";") if @bulletin.meteo_data.present?
.container
  = form_for @bulletin do |form|
    %table{class: "table table-hover"}
      %tr
        %th Тип
        %td= form.text_field :bulletin_type
      %tr
        %th Отчетная дата
        %td= form.text_field :report_date, size: 10
      %tr
        %th Прогноз по городам
        %td= form.text_area :forecast_day, cols: "30", rows: "5"
      %tr
        %th Синоптик
        %td= form.select :synoptic1, options_for_select(Bulletin.synoptic_list)
    %table{class: "table table-hover"}
      %tr
        %th Города
        %th Температура воздуха ночью
        %th Температура воздуха днем
      - i = 0
      - Bulletin::TV_CITIES.each do |c|
        %tr
          %td #{c}
          %td= text_field_tag "val_#{i*2+1}", m_d[i*2].present? ? m_d[i*2] : '', size: 4
          %td= text_field_tag "val_#{i*2+2}", m_d[i*2+1].present? ? m_d[i*2+1] : '', size: 4
          - i += 1
    %br
    = submit_tag "Сохранить"
= link_to "Список", "/bulletins/list?bulletin_type=tv"