%h1= "Изменить бюллетень"
- case @bulletin.bulletin_type 
  - when 'daily'
    = render 'form' 
  - when 'storm'  
    = render 'storm_form'
  - when 'holiday'  
    = render 'holiday_form'
  - else
    = render 'sea_form'
