.container
  - case @bulletin_type
    - when 'daily'
      = link_to "Создать", new_bulletin_path  
    -when 'sea'
      = link_to "Создать", bulletins_new_sea_bulletin_path  
    -when 'storm', 'sea_storm'
      = link_to "Создать", "new_storm_bulletin?bulletin_type="+@bulletin_type
    -when 'holiday'
      = link_to "Создать", bulletins_new_holiday_bulletin_path  
    -when 'radiation'
      = link_to "Создать", bulletins_new_radiation_bulletin_path  
    -when 'tv'
      = link_to "Создать", bulletins_new_tv_bulletin_path  
  %h3= Bulletin::BULLETIN_TYPES[@bulletin_type]
  .container
    %table{class: "table table-hover"}
      %thead
        %tr
          %th= "Дата"
          %th= "Номер"
          %th= ""
          %th= ""
          %th= ""
          %th= ""
      %tbody
        - @bulletins.each do |b| 
          %tr
            %td= b.report_date.to_s
            %td= b.curr_number
            %td= link_to "Просмотреть", "#{b.id}/bulletin_show"
            %td= link_to "Распечатать", "#{b.id}/bulletin_show.pdf"
            %td= link_to "Изменить", edit_bulletin_path(b.id)
            %td= link_to 'Удалить', b, method: :delete, data: { confirm: 'Вы уверены?' }
