%h3= "ГИДРОМЕТЕОРОЛОГИЧЕСКИЙ БЮЛЛЕТЕНЬ № #{@bulletin.curr_number}"
%h3= @bulletin.report_date_as_str
- report_date = @bulletin.report_date.to_s(:custom_datetime)
- report_date_next = (@bulletin.report_date + 1.day).to_s(:custom_datetime)
%br
%h3= "Прогноз погоды на сутки с 21 часа #{report_date[8,2]} #{month_name2(report_date[5,2])} до 21 часа #{report_date_next[8,2]} #{month_name2(report_date_next[5,2])} #{report_date_next[0,4]} года"
%p= @bulletin.forecast_day
%h5= "Дежурный синоптик #{@bulletin.synoptic1}"
%br
- report_date_next2 = (@bulletin.report_date + 2.day).to_s(:custom_datetime)
- report_date_next3 = (@bulletin.report_date + 3.day).to_s(:custom_datetime)
%h3= "Периодный прогноз погоды на #{report_date_next2[8,2]}-#{report_date_next3[8,2]} #{month_name2(report_date_next3[5,2])} #{report_date_next3[0,4]} года в Донецкой Народной Республике"
%p= @bulletin.forecast_period
%br
- report_date_next4 = (@bulletin.report_date + 4.day).to_s(:custom_datetime)
- report_date_next5 = (@bulletin.report_date + 5.day).to_s(:custom_datetime)
%h3= "Консультативный прогноз погоды на #{report_date_next4[8,2]}-#{report_date_next5[8,2]} #{month_name2(report_date_next5[5,2])} #{report_date_next5[0,4]} года"
%p= @bulletin.forecast_advice
%br
- report_date_next6 = (@bulletin.report_date + 6.day).to_s(:custom_datetime)
- report_date_next11 = (@bulletin.report_date + 11.day).to_s(:custom_datetime)
%h3= "Ориентировочный прогноз погоды на #{report_date_next6[8,2]}-#{report_date_next11[8,2]} #{month_name2(report_date_next11[5,2])} #{report_date_next11[0,4]} года"
%p= @bulletin.forecast_orientation
%h5= "Синоптик Осокина Л.Н."
%br
%h3= "По акватории Азовского моря (на участке с. Безыменное – пгт. Седово)"
%h3= "Прогноз погоды на сутки с 21 часа #{report_date[8,2]} #{month_name2(report_date[5,2])} до 21 часа #{report_date_next[8,2]} #{month_name2(report_date_next[5,2])} #{report_date_next[0,4]} года"
%p= @bulletin.forecast_sea_day
%br
%h3= "Периодный прогноз погоды на #{report_date_next2[8,2]}-#{report_date_next3[8,2]} #{month_name2(report_date_next3[5,2])} #{report_date_next3[0,4]} года"
%p= @bulletin.forecast_sea_period
%h5= "Синоптик #{@bulletin.synoptic2}"
%br
%h5= "Время выпуска 13:00"
%br
.container
  %table
    %thead
      %tr
        %td= "Ответственный за выпуск: Начальник отдела гидрометеорологического обеспечения и обслуживания"
        %td= ""
        %td= "Л.Н. Бойко"
      %tr
        %td= "Начальник"
        %td= ""
        %td= "М.Б. Лукьяненко"
%br
%h3= "Приложение к Гидрометеорологическому Бюллетеню от #{@bulletin.report_date_as_str} № #{@bulletin.curr_number}"
- report_date_prev = (@bulletin.report_date - 1.day).to_s(:custom_datetime)
%h3= "МЕТЕОРОЛОГИЧЕСКИЕ ДАННЫЕ за период с 9.00 часов #{report_date_prev[8,2]} #{month_name2(report_date_prev[5,2])} до 9.00 часов #{report_date[8,2]} #{month_name2(report_date[5,2])} #{report_date[0,4]} года"
.container
  %table
    %thead
      %tr
        %th= "Название метеостанции"
        %th= "Максимальная вчера днем"
        %th= "Минимальная сегодня ночью"
        %th= "Средняя за сутки #{report_date_prev[8,2]} #{month_name2(report_date_prev[5,2])}"
        %th= "В 9.00 часов сегодня"
        %th= "Количество осадков за сутки (мм)"
        %th= "Высота снежного покрова (см)"
        %th= "Глубина промерзания (см)"
        %th= "Максимальная скорость ветра (м/с)"
        %th= "Явления погоды"
    %tbody
      %tr
        %td= "Донецк"
      %tr
        %td= "Дебальцево"
      %tr
        %td= "Амвросиевка "
%br
%h3= "Обзор погоды и агрометеорологических условий в Донецкой Народной Республике"
%h3= "за период с 9.00 часов #{report_date_prev[8,2]} #{month_name2(report_date_prev[5,2])} до 9.00 часов #{report_date[8,2]} #{month_name2(report_date[5,2])} #{report_date[0,4]} года"
%p= @bulletin.agro_day_review
%br
%h3= "Климатические данные по г. Донецку за #{report_date_prev[8,2]}-#{report_date[8,2]} #{month_name2(report_date[5,2])}"
%h3= "С 1945 по #{report_date[0,4]} гг. по данным Гидрометеорологической службы"
.container
  %table
    %tbody
      %tr
        %td= "Средняя за сутки температура воздуха"
        %td= "#{report_date_prev[8,2]} #{month_name2(report_date_prev[5,2])}"
        %td= ""
      %tr
        %td= "Максимальная температура воздуха"
        %td= "#{report_date_prev[8,2]} #{month_name2(report_date_prev[5,2])}"
        %td= ""
        %td= "отмечалась в 1986 г."
      %tr
        %td= "Средняя за сутки температура воздуха"
        %td= "#{report_date[8,2]} #{month_name2(report_date[5,2])}"
        %td= ""
        %td= "отмечалась в 1986 г."
%br
%h5= "Время выпуска 13:00"
%br
.container
  %table
    %thead
      %tr
        %td= "Ответственный за выпуск: Начальник отдела гидрометеорологического обеспечения и обслуживания"
        %td= ""
        %td= "Л.Н. Бойко"
      %tr
        %td= "Начальник"
        %td= ""
        %td= "М.Б. Лукьяненко"
%br

= link_to "Список", bulletins_path  