/
  .container
    %h4= @bulletin.date_hour_minute
    %h3{align: :center, :style => "color: #ff0000"}= "ШТОРМОВОЕ ПРЕДУПРЕЖДЕНИЕ № #{@bulletin.curr_number}"
    %p= @bulletin.storm
    %br
    %table{class: "table table-hover"}
      %thead
        %tr
          %td <b>Начальник</b>
          %td= ""
          %td <b>М.Б. Лукьяненко</b>
    %h5= "Синоптик #{@bulletin.synoptic1}"
    %br
  
%br
  
= render :partial => 'show_image'
  
%br
  
  
= link_to "Список", "/bulletins/list?bulletin_type=storm"  
= link_to "Распечатать", "/bulletins/#{@bulletin.id}/storm_show.pdf"
= link_to "Изменить", edit_bulletin_path(@bulletin.id)