.container
  %h3 Телеграмма морская
  %table{class: "table table-bordered"}
    %tr
      %th Дата ввода:
      %td= @sea_observation.created_at
    %tr
      %th Дата наблюдения:
      %td= @sea_observation.date_dev
    %tr
      %th Текст:
      %td= @sea_observation.telegram
    %tr
      %th День месяца
      %td= @sea_observation.day_obs
    %tr
      %th Срок
      %td= @sea_observation.term
    %tr
      %th Гидрометеостанция:
      %td= @sea_observation.station.name
  - if current_user.role == 'technicist'
    = link_to 'Ввод телеграмм', '/sea_observations/input_sea_telegrams'
    %br
  = link_to "Список", sea_observations_path  