%div{ class:"row"}
  %div{ class: "col-md-6 col-md-offset-3"}
    %h1= "Пользователи"
    %table{class: "table table-hover"}
      %thead
        %tr
          %th{size: "300px"}= "Логин"
          %th= "Роль"
          %th= "Фамилия"
          %th= "Имя"
          %th= "Отчество"
          %th= "Должность"
          %th Метеостанция
          %th= ""
          %th= ""
      %tbody
        - @users.each do |user| 
          %tr
            %td{margin: "10"}= user.login
            %td= user.role
            %td= user.last_name
            %td= user.first_name
            %td= user.middle_name
            %td= user.position
            %td= user.station.present? ? user.station.name : ''
            %td= link_to 'Изменить', edit_user_path(user.id)
            %td= link_to 'Удалить', user, method: :delete, data: { confirm: 'Уверены?' }
    = link_to "Добавить пользователя", new_user_path