%div{ class: "row"}
  %div{ class: "col-md-6 col-md-offset-3"}
    = form_for(@agro_phase) do |f| 
      = f.label "Группа"
      = collection_select(:agro_phase, :agro_phase_category_id, AgroPhaseCategory.all.order(:id), :id, :name)
      
      = f.label "Код"
      = f.text_field :code
      
      = f.label "Название"
      = f.text_field :name
      
      = f.submit "Сохранить", class: "btn btn-primary"