// = @pollution_values.inspect
%div{ class:"row"}
  %h1= "Измерения"
  = will_paginate
  .container
    %table{class: "table table-hover"}
      %thead
        %tr
          %th= "Пост"
          %th= "Дата"
          %th= "Срок"
          %th= "Направление ветра, °"
          %th= "Скорость ветра, м/с"
          %th= "Температура, °С"
          %th= "Атмосферное давление, hPa"
          %th= ""
      %tbody
        = render @measurements
  = will_paginate  
= link_to "Добавить измерение", new_measurement_path