%tr
  %td= pollution_value.material.name
  %td= "Плотность: #{pollution_value.value}"
  %td= "Концентрация: #{pollution_value.concentration.nil? ? '' : pollution_value.concentration.round(get_digits(pollution_value.material_id))}"
  %td= "Объем: #{calc_volume(@m, pollution_value.material_id)}"
  %td= link_to 'Изменить', edit_pollution_value_path(pollution_value)
  %td= link_to 'Удалить', pollution_value_path(pollution_value), :method => :delete, data: {:confirm => "Вы действительно хотите удалить загрязнение?"}
