-stations = {'34622' => "Амвросиевка", '34524' => "Дебальцево", '34519' => "Донецк", '34615' => "Волноваха", '34712' => "Мариуполь"}
%h3= К договору №08/16-17/03   ГП "Донбасстеплоэнерго"   тел. 304-74-24

%h3= "Температура за #{@hour} часов (дата расчета - #{@calc_date})"

.container
  %table
    %thead
      %tr
        %th= "Метеостанция"
        %th= "09"
        %th= "12"
        %th= "15"
        %th= "18"
        %th= "21"
        %th= "00"
        %th= "03"
        %th= "06"
        %th= "Средняя"
      -['34622', '34524', '34519', '34615','34712'].each do|station| 
        %tr
          %td= stations[station]
          -average = 0.0
          -num = 0
          -['09', '12', '15', '18','21', '00', '03', '06'].each do|term| 
            %td= @a[station+'-'+term]
            %td= "<"+station+'-'+term+">"
            -if @a[station+'-'+term].present? 
              -average += @a[station+'-'+term].to_f
              -num += 1
          %td= num > 0 ? (average/num).round(2) : ''
