%h1= "Телеграммы (синоптические)"
.container
  %table
    %thead
      %tr
        %th= "Дата"
        %th= "Срок"
        %th= "Текст"
  
    %tbody
      - @synoptics.each do |s| 
        %tr
          %td= s["Дата"]
          %td= s["Срок"]
          %td= link_to s["Телеграмма"], synoptics_show_by_date_path("Дата" => s["Дата"])

  %br
= link_to "Создать", new_synoptic_path  
