%h1= "Параметры отбора телеграмм в сети"

%div{ class: "row"}
  %div{ class: "col-md-6 col-md-offset-3"}
    = form_for(:synoptic, url: make_web_query_path) do |f| 
      = f.label :begin, "Начало периода*"
      = f.text_field :begin, class: 'form-control', value: 'YYYYMMDDHH00'

      = f.submit "Отобрать", class: "btn btn-primary"