-stations = {'34622' => "Амвросиевка", '34524' => "Дебальцево", '34519' => "Донецк", '34615' => "Волноваха", '34712' => "Мариуполь", '34510' => "Артемовск", '34514' => "Красноармейск"}
-days = Time.days_in_month(11, @year)
%h2= "Таблица для обработки агрометеорологических наблюдений за #{@month} #{@year} года"
%h3= "Средняя температура воздуха, °С"
.container
  %table
    %thead
      %tr
        %th= "Метеостанция"
        -('01'..days.to_s).each do|day|
          %th= day.to_s
      -['34519', '34524', '34622', '34514', '34615', '34510', '34712'].each do|station| 
        %tr
          %td= stations[station]
          -('01'..days.to_s).each do|day|
            -key = station.to_s + '-' + day
            %td= @avg_temps[key].present? ? @avg_temps[key].to_i : ""
            
