.container
  %h3 Коэффициенты для пересчета оптических плотностей в концентрации
  %table{class: "table table-hover"}
    %thead
      %tr
        %th Лаборатория
        %th Материал
        %th Градуировочный коэффициент
        %th Объем аликвоты в см<sup>3</sup>
        %th Объем раствора в см<sup>3</sup>
        %th Объем отобраной пробы в дм<sup>3</sup>
        -#
          %th= ""
          %th= ""
    %tbody
      - @chem_coefficients.each do |c_c| 
        %tr
          %td= c_c.laboratory.name
          %td= c_c.material.name
          %td= c_c.calibration_factor
          %td= c_c.aliquot_volume
          %td= c_c.solution_volume
          %td= c_c.sample_volume
          -#
            %td= link_to "Изменить", edit_chem_coefficient_path(c_c.id)
            %td= link_to 'Удалить', c_c, method: :delete, data: { confirm: 'Вы уверены?' }
  %br
  = link_to "Создать", new_chem_coefficient_path  
