.container
  %h3 Телеграмма агрометеорологическая
  %table{class: "table table-bordered"}
    %tr
      %th Дата ввода:
      %td= @agro_observation.created_at
    %tr
      %th Дата:
      %td= @agro_observation.date_dev
    %tr
      %th Текст:
      %td= @agro_observation.telegram
    %tr
      %th Тип телеграммы
      %td= @agro_observation.telegram_type == 'ЩЭАГЯ'? 'Ежедневная (ЩЭАГЯ)' : 'Декадная (ЩЭАГУ)'
    %tr
      %th Метеостанция:
      %td= @agro_observation.station.name
    %tr
      %th День месяца:
      %td= @agro_observation.day_obs
    %tr
      %th Месяц:
      %td= @agro_observation.month_obs
    %tr
      %th Номер телеграммы:
      %td= @agro_observation.telegram_num
  = link_to "Список", agro_observations_path