%tr
  %td= post.name
  %td= post.short_name
  %td= post.city.name
  %td= post.laboratory_id.present? ? post.laboratory.name : ''
  %td= post.site_type.name
  %td= post.substances_num
  %td= post.coordinates
  %td= post.height
  %td= post.sample_volume_dust.present? ? post.sample_volume_dust : ''
  %td= post.active ? "Да" : "Нет"
  %td= link_to "Изменить", edit_post_path(post)