%tr
  %td= post.name
  %td= post.city.name
  %td= post.site_type.name
  %td= post.substances_num
  %td= post.coordinates
  %td= post.height
  %td= post.active ? "Да" : "Нет"
  %td= link_to "Изменить", edit_post_path(post)