%div{ class: "col-md-6 col-md-offset-3"}
%h1 Телеграмма штормовая
.container
  %h4= @storm_observation.telegram
  %table{class: "table table-bordered"}
    %tr
      %th Дата загрузки:
      %td= @storm_observation.created_at
    %tr
      %th Тип телеграммы
      %td= @storm_observation.telegram_type == 'ЩЭОЗМ' ? 'Окончание явления (ЩЭОЗМ)' : 'Начало/усиление явления (ЩЭОЯЮ)'
    %tr
      %th Метеостанция:
      %td= @storm_observation.station.name
    %tr
      %th День месяца
      %td= @storm_observation.day_event
    %tr
      %th Время
      %td= @storm_observation.event_time
      
  %br
  = link_to "Список", storm_observations_path  
  = link_to "Изменить", edit_storm_observation_path(@storm_observation)