.container
  %h3 Телеграмма штормовая
  %table{class: "table table-bordered"}
    %tr
      %th Дата ввода:
      %td= @storm_observation.created_at
    %tr
      %th Дата явления:
      %td= @storm_observation.telegram_date
    %tr
      %th Текст:
      %td= @storm_observation.telegram
    %tr
      %th Тип телеграммы
      %td= @storm_observation.telegram_type == 'ЩЭОЗМ' ? 'Окончание явления (ЩЭОЗМ)' : 'Начало/усиление явления (ЩЭОЯЮ)'
    %tr
      %th Метеостанция:
      %td= @storm_observation.station.name
    %tr
      %th День месяца
      %td= @storm_observation.day_event
    %tr
      %th Время
      %td= @storm_observation.event_time
  - if current_user.role == 'technicist'
    = link_to 'Ввод телеграмм', '/storm_observations/input_storm_telegrams?input_mode=normal'
    %br
    = link_to "Список", storm_observations_path  
  - elsif current_user.role == 'specialist'
    = link_to 'Возврат', '/storm_observations/input_storm_telegrams?input_mode=normal'
  - else
    = link_to "Список", storm_observations_path  