%header{ :class=>"navbar navbar-fixed-top navbar-inverse"}
  %div{ :class=>"container"}
    = link_to "ГМС МЧС ДНР", registers_url, id: "logo"
    %nav
      %ul{ :class=>"nav navbar-nav navbar-right"}
        - if logged_in?
          - case current_user.role
            - when 'synoptic'
              %li= link_to 'Телеграммы',  synoptics_path
              %li
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Отчеты <b class="caret"></b></a>
                %ul{class: "dropdown-menu"}
                  %li= link_to 'ТСХ-1',  synoptics_tcx1_path 
                  %li= link_to 'Бюллетень',  bulletins_path
                  %li= link_to 'Тепло Донбасса',  synoptics_td_show_path
                  %li= link_to 'Автодор',  synoptics_avtodor_path
            - when 'technicist'
              %li= link_to 'Телеграммы',  synoptics_list_path
            - when 'admin'
              %li= link_to "Users", users_path
          %li{ class: "dropdown"}
          %li
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            %ul{class: "dropdown-menu"}
              %li= link_to "Профиль", current_user
              %li{ class: "divider"}
              %li= link_to "Выход", logout_path, method: "delete"
        - else
          %li= link_to "Войти", login_path