!!!
%html
  %head
    %title ГМС МЧС ДНР
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'https://code.jquery.com/jquery-1.5.js', 'application'
    = csrf_meta_tag
    = render 'layouts/shim'

  %body
    = render 'layouts/header'

    #navigation
      %br
      #tabs
        %ul
          - if not true
            = render :partial => 'layouts/menuItem', :collection => [ |
              ['Login', new_user_session_url]                        |
            ] |
            -
          - else
            %div{'style' => "float: left;"}
              = render :partial => 'layouts/menuItem', :collection => [ | 
                ['Телеграммы (синоптические)',  synoptics_path], |
                ['Автодор',  synoptics_avtodor_path], |
                ['Тепло Донбасса',  synoptics_td_show_path] |
              ] |
    #main
      - flash.each do |key, msg|
        = content_tag :div, msg, :class => "flash_#{key}"
      %div{'style' => "clear: both;"}
      &nbsp;
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?